# ------------------------------------------------------ #
# Gitの管理から除外するファイルやフォルダを指定する設定 #
# ------------------------------------------------------ #
*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

output.json